In [18]:
#importing 
import pandas as pd

In [19]:
pymoli_csv_path = "purchase_data.csv"

In [20]:
#Importing data into a dataframe
Pymoli_df = pd.read_csv(pymoli_csv_path)

In [21]:
Pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [22]:
Pymoli_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [23]:
SN_count = Pymoli_df["SN"]
SN_count

0            Lisim78
1        Lisovynya38
2         Ithergue48
3      Chamassasya86
4          Iskosia90
           ...
775       Aethedru70
776           Iral74
777       Yathecal72
778          Sisur91
779        Ennrian78
Name: SN, Length: 780, dtype: object

In [24]:
player_count = SN_count.drop_duplicates()
len(player_count)

576

In [25]:
player_count_df = pd.DataFrame({"Total Players" : [len(player_count)]})
player_count_df

   Total Players
0            576

In [26]:
item_count = Pymoli_df["Item Name"]
len(item_count)

780

In [27]:
unique_items = item_count.unique()
len(unique_items)

179

In [28]:
prices = Pymoli_df["Price"]
prices.head()

0    3.53
1    1.56
2    4.88
3    3.27
4    1.44
Name: Price, dtype: float64

In [29]:
avg_prices = prices.mean()
avg_prices

3.0509871794871795

In [30]:
len(SN_count)

780

In [31]:
purchases = Pymoli_df["Price"]
total_revenue = purchases.sum()
total_revenue

2379.77

In [32]:
purchasing_tot_df = pd.DataFrame({"Number of Unique items" : [len(unique_items)], "Average Price" : ["$ {:,.2f}".format(avg_prices)],
                                 "Number of Purchases" : [len(SN_count)], "Total Revenue" : ["$ {:,.2f}".format(total_revenue)]})
purchasing_tot_df

   Number of Unique items Average Price  Number of Purchases Total Revenue
0                     179        $ 3.05                  780    $ 2,379.77

In [49]:
# Determining Count of male players and percent
male_pull = Pymoli_df.loc[Pymoli_df["Gender"] == "Male"]
male_sum = male_pull['SN'].nunique()
percent_male = round((male_sum/len(player_count)*100))

# Determining Count of female players and percent
female_pull = Pymoli_df.loc[Pymoli_df["Gender"] == "Female"]
female_sum = female_pull['SN'].nunique()
percent_female = round((female_sum/len(player_count)*100))

#Count of Other / Non-Disclosed
other_pull = Pymoli_df.loc[Pymoli_df["Gender"] == "Other / Non-Disclosed"]
other_sum = other_pull['SN'].nunique()
percent_other = round((other_sum/len(player_count)*100))


#Dataframe for gender
Gender_df = pd.DataFrame({"Gender": ["Male", "Female", "Other/ND"], 
                          'Percent of Players': ["{0:.2f}%".format(percent_male), "{0:.2f}%".format(percent_female), "{0:.2f}%".format(percent_other)],  
                          'Gender Count': [male_sum, female_sum, other_sum]})
Gender_df

     Gender Percent of Players  Gender Count
0      Male             84.00%           484
1    Female             14.00%            81
2  Other/ND              2.00%            11