In [2]:
#importing 
import pandas as pd

In [3]:
pymoli_csv_path = "purchase_data.csv"

In [4]:
#Importing data into a dataframe
Pymoli_df = pd.read_csv(pymoli_csv_path)

In [5]:
Pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
Pymoli_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [7]:
SN_count = Pymoli_df["SN"]
SN_count

0            Lisim78
1        Lisovynya38
2         Ithergue48
3      Chamassasya86
4          Iskosia90
           ...
775       Aethedru70
776           Iral74
777       Yathecal72
778          Sisur91
779        Ennrian78
Name: SN, Length: 780, dtype: object

In [8]:
player_count = SN_count.drop_duplicates()
len(player_count)

576

In [9]:
player_count_df = pd.DataFrame({"Total Players" : [len(player_count)]})
player_count_df

   Total Players
0            576

In [10]:
item_count = Pymoli_df["Item Name"]
len(item_count)

780

In [11]:
unique_items = item_count.unique()
len(unique_items)

179

In [12]:
prices = Pymoli_df["Price"]
prices.head()

0    3.53
1    1.56
2    4.88
3    3.27
4    1.44
Name: Price, dtype: float64

In [13]:
avg_prices = prices.mean()
avg_prices

3.0509871794871795

In [14]:
len(SN_count)

780

In [15]:
purchases = Pymoli_df["Price"]
total_revenue = purchases.sum()
total_revenue

2379.77

In [16]:
purchasing_tot_df = pd.DataFrame({"Number of Unique items" : [len(unique_items)], "Average Price" : ["$ {:,.2f}".format(avg_prices)],
                                 "Number of Purchases" : [len(SN_count)], "Total Revenue" : ["$ {:,.2f}".format(total_revenue)]})
purchasing_tot_df

   Number of Unique items Average Price  Number of Purchases Total Revenue
0                     179        $ 3.05                  780    $ 2,379.77

In [17]:
# Determining Count of male players and percent
male_pull = Pymoli_df.loc[Pymoli_df["Gender"] == "Male"]
male_sum = male_pull['SN'].nunique()
percent_male = round((male_sum/len(player_count)*100))

# Determining Count of female players and percent
female_pull = Pymoli_df.loc[Pymoli_df["Gender"] == "Female"]
female_sum = female_pull['SN'].nunique()
percent_female = round((female_sum/len(player_count)*100))

#Count of Other / Non-Disclosed
other_pull = Pymoli_df.loc[Pymoli_df["Gender"] == "Other / Non-Disclosed"]
other_sum = other_pull['SN'].nunique()
percent_other = round((other_sum/len(player_count)*100))


#Dataframe for gender
Gender_df = pd.DataFrame({"Gender": ["Male", "Female", "Other/ND"], 
                          'Percent of Players': ["{0:.2f}%".format(percent_male), "{0:.2f}%".format(percent_female), "{0:.2f}%".format(percent_other)],  
                          'Gender Count': [male_sum, female_sum, other_sum]})
Gender_df

     Gender Percent of Players  Gender Count
0      Male             84.00%           484
1    Female             14.00%            81
2  Other/ND              2.00%            11

In [18]:
# Creating the bin for age, and sorting
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

Pymoli_df["Age Group"] = pd.cut(Pymoli_df["Age"],bins, labels=groups)


# Create new data frame with new group, and count total number of players by age
grouped_age = Pymoli_df.groupby("Age Group")

age_count = grouped_age["SN"].nunique()

# Calculate percentages
age_perc = (age_count/len(player_count)) * 100

# Create data frame of the obtained values
age_demo = pd.DataFrame({ "Total Count": age_count, "Percentage of Players": age_perc})

#Remove age group from the top left of table
age_demo.index.name = None

age_demo["Percentage of Players"] = age_demo["Percentage of Players"].map("{:,.2f} %".format)

age_demo

       Total Count Percentage of Players
<10             17                2.95 %
10-14           22                3.82 %
15-19          107               18.58 %
20-24          258               44.79 %
25-29           77               13.37 %
30-34           52                9.03 %
35-39           31                5.38 %
40+             12                2.08 %

In [19]:
#Run the prior bin I had created for ages and add variables
Pymoli_df["Age Group"] = pd.cut(Pymoli_df["Age"],bins, labels=groups)

purchase_age_tot = Pymoli_df.groupby(["Age Group"]).sum()["Price"]
age_mean = Pymoli_df.groupby(["Age Group"]).mean()["Price"]
age_count_analysis = Pymoli_df.groupby(["Age Group"]).count()["Price"]
avg_purch = purchase_age_tot / age_count


#Rename Columns
purchase_age_tot.rename("Total Purchase Value")
age_mean.rename("Average Purchase Price")
age_count_analysis.rename("Purchase Count")


#Create Dataframe
purchas_age_df = pd.DataFrame({
                        "Purchase Count": age_count_analysis,
                        "Average Purchase Price": ["$ {:,.2f}".format(x) for x in age_mean],
                        "Total Purchase Value": purchase_age_tot,
                        "Avg Total Purchase per Person": ["$ {:,.2f}".format(y) for y in avg_purch]
                        })
purchas_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$ 3.35,77.13,$ 4.54
10-14,28,$ 2.96,82.78,$ 3.76
15-19,136,$ 3.04,412.89,$ 3.86
20-24,365,$ 3.05,1114.06,$ 4.32
25-29,101,$ 2.90,293.00,$ 3.81
30-34,73,$ 2.93,214.00,$ 4.12
35-39,41,$ 3.60,147.67,$ 4.76
40+,13,$ 2.94,38.24,$ 3.19

In [31]:
#Getting the purchase count for each username from the data
spenders_count = Pymoli_df.groupby("SN")["Purchase ID"].count()

#Grabbing the average purchase price and  total purchases values
spenders_average = Pymoli_df.groupby("SN")["Price"].mean()
total_purchases = Pymoli_df.groupby("SN")["Price"].sum()



spender_df = pd.DataFrame({"Purchase Count" : spenders_count, 
                           "Average Purchase Price" : spenders_average,
                           "Total Purchase Value" : total_purchases
                          })


#Determining the top 5 spenders of the users
spender_df = spender_df.sort_values(["Total Purchase Value"], ascending=False).head()

spender_df["Average Purchase Price"]=spender_df["Average Purchase Price"].map("${:.2f}".format)
spender_df["Total Purchase Value"]=spender_df["Total Purchase Value"].map("${:.2f}".format)

spender_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10