In [1]:
#importing 
import pandas as pd

In [2]:
pymoli_csv_path = "purchase_data.csv"

In [3]:
#Importing data into a dataframe
Pymoli_df = pd.read_csv(pymoli_csv_path)

In [4]:
Pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
Pymoli_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [6]:
SN_count_df = Pymoli_df["SN"]
SN_count_df

0            Lisim78
1        Lisovynya38
2         Ithergue48
3      Chamassasya86
4          Iskosia90
           ...
775       Aethedru70
776           Iral74
777       Yathecal72
778          Sisur91
779        Ennrian78
Name: SN, Length: 780, dtype: object

In [14]:
player_count = SN_count_df.drop_duplicates()
len(player_count)

576

In [15]:
player_count_df = pd.DataFrame({"Total Players" : [len(player_count)]})
player_count_df

   Total Players
0            576

In [ ]:
purchasing_analysistot_df = pd.DataFrame({"Number of Unique items" : [len(player_count)]})